body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('assets/img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url('assets/fonts/pokemonsolid.ttf') format('truetype');
}

h1 {
  font-family: 'Pokemon Solid', sans-serif; /* Custom Pokémon font */
  color: #FFCD01; /* Pokémon yellow color */
  -webkit-text-stroke: 2px #3660AD;
}

